@model IEnumerable<Category>

<table class="table table-bordered table-table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>